@import ./keyframes
    
.page
    // 

.container
    // 

.main
    display: flex
    flex-direction: column

.icon
    // 
    
    &.icon_small
        min-width: 24px
        width: 24px
        min-height: 24px
        height: 24px

.img,
.video
    width: 100%

.img
    // 

.video
    //

// CUSTOM-INPUT

.custom-input
    position: relative

.custom-input__icon
    position: absolute

    top: 50%
    left: 0px

    transform: translate(0, -50%)

// BTN

.btn
    text-decoration: underline
    text-transform: uppercase
